.container{
    background-color:rgb(250, 250, 250);
}
.nav{
    display:flex;
    justify-content:center;
    background-color:white;
    height: 90px ;
    width:100%;
    position:fixed;
}
.nav-brand{

    display: flex;
    flex-direction: "column";
    margin-right: 45%;
    align-items: center;
    color: rgb(161, 221, 230);
    font-weight: bold;
    cursor: pointer;
}
.nav-ul{
    
    display: flex;
    flex-direction: "column";
    justify-content: flex-end;
    align-items: center;
    color: black;
    font-weight: bold;
    cursor: pointer;
    
}
.nav-ul :hover{

    color: rgb(161, 221, 230);
    transition: color .3s;
}

@media only screen and (max-width: 830px) {
   
    .nav{
        height: 60px;
    }
    .nav-ul{
        display:none;
    }
    .nav-brand{
        margin-right:60%;
    }

  }

